@model SearchViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">Search & watch Social Rank work.</p>
    <form asp-controller="Search" asp-action="Search">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group" style="width: 500px; margin: auto;">
            <input asp-for="SearchText" class="form-control" placeholder="Search..." />
            <span asp-validation-for="SearchText" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>
</div>